* {
  font-family: sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: large;
}

h2 {
  font-size: large;
  margin-left: 20px;
}

h3 {
  font-size: xx-large;
}

p {
  font-size: 12px;
}

fieldset {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid dimgray;
  border-radius: 5px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  min-height: 550px;
  border: solid 2px dimgray;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 10px gray;
}

.inputs {
  width: 90%;
}

.result {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

input {
  color: blue;
  font-weight: bold;
  padding: 3px 1px 3px 15px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

input:focus {
  box-shadow: 10px 10px 10px gray;
  outline: none;
}

.result-area {
  width: 100%;
}

.result-message-box {
  padding-left: 20px;
  padding-right: 20px;
}

.message-box {
  margin-left: 0;
  width: 100%;
  background-color: lightgrey;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  width: 50%;
  font-size: larger;
  padding: 5px;
}

.result-score {
  width: 50%;
  height: 80%;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legendBtn {
  width: 50px;
  height: 50px;
  border-radius: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

.container-legend {
  display: none;
  position: absolute;
  width: 350px;
  top: 60%;
  margin-left: 10px;
  animation-name: legend;
  animation-duration: 1s;
}

.result-legend {
  position: absolute;
  width: 250px;
  font-size: larger;
  padding: 5px;
  background: rgba(150, 150, 150, 0.75);
  border: 1px dimgray solid;
  box-shadow: 10px 10px 10px gray;
  border-radius: 5px;
}

.result-orange {
  color: orange;
}

.result-red {
  color: red;
}

.result-green {
  color: green;
}

table {
  margin-top: 10px;
  width: 100%;
}

table,
th,
td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
  border: 1px solid black;
  border-collapse: collapse;
}

@keyframes legend {
  from {
    margin-left: 25px;
  }

  to {
    margin-left: 10px;
    display: block;
  }
}